
#external {
	color: yellow;
}

/*14 Child Selector*/

body > section >ul {
		letter-spacing: 10px;
}

/*13 General Sibling Selector*/

h4 ~ p{
	text-align: center;
}

/*12. Descendent selector*/

ul{
	list-style-type: none;
}


/*11.Adjacent Sibling selector*/
h4 + img {
	height: 150px;
	width: 150px;
	border-radius:100px ;
}


/*10. Attribute selectors */
li[class]{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

/*9. class selector*/
#languages {
	background-color: lightgreen;
}

/*8. id selector*/
#bootcamp {
	text-transform: uppercase;
	
}
	

/*7. type selector*/
h1 {
	font-size: 50px;
}


/*6. Universal selector*/
/*Change the font-family(font-family: 'Verdana', sans-serif) and the font size(20px) 
of all elements using the universal selector.*/

* {
	font-family: "verdana", sans-serif;
	font-size: 20px;




 